<!DOCTYPE yml_catalog SYSTEM "shops.dtd">
<yml_catalog date="{{date}}">
<shop>
<name>{{site_name}}</name>
<company>{{site_name}}</company>
<url>{{base_url}}</url>

<currencies><currency id="RUR" rate="1"/></currencies>
<categories>
	{% for term in categories %}
	<category {{term.attributes}}>{{term.name}}</category>
	{% endfor %}
</categories>

<offers>
	{% for node in nodes %}
	<offer id="{{node.model}}" available="true">
		<url>{{node.url}}</url>
		<price>{{node.price}}</price>
		<currencyId>RUR</currencyId>
		<categoryId>{{node.tid}}</categoryId>
		{% if node.picture|length > 0 %}
		<picture>{{node.picture}}</picture>
		{% endif %}
		<delivery>{{delivery}}</delivery>
		<name>{{node.title}}</name>
		<description>{{node.body}}</description>
		<sales_notes></sales_notes>
	</offer>
	{% endfor %}
</offers>  

</shop>
</yml_catalog>